@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgba(0, 212, 255, 1) 100%);
    background-repeat: no-repeat;
    font-family: 'Satisfy', cursive;
}

h1 {
    size: 44px;
}

img {
    width: 100%;
    display: block;
}

.image {
    width: 70%;
    height: 33%;
    transition: all 500ms ease;
    border-radius: 12px;
    margin-top: 20px;
}

.image:hover {
    cursor: pointer;
    width: 80%;
    height: 40%;
    filter: drop-shadow(0px 0px 20px #c1c1c1);
}

@media (min-width: 740px) {
    .image {
        width: 400px;
        height: 340px;
    }

    .image:hover {
        width: 500px;
        height: 440px;
    }
}

.menu {
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    transition:  box-shadow 1.1s cubic-bezier(.19,1,.22,1);
}

.menu:hover {
    box-shadow: 0 0 0 8px #FFF, 0 0 0 8px #FFF;
}

.hamburguer {
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.hamburguer:before {
    top: -10px;
}

.hamburguer:after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw #FFF, 0 0 0 130vh #FFF;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

input:checked~ul {
    opacity: 1;
    visibility: visible;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 45px;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
    z-index: 2;
}

li {
    color: #000;
}

a {
    color: #00cec9;
    display: block;
    margin-bottom: 1em;
}

table {
    font-family: 'League Spartan', sans-serif;
    font-size: 22px;
    margin-top: 35px;
}

table td {
    padding: 7px 15px;
}
